# Installed Node modules
/node_modules/
# Installed Bower components
/bower_components/
# Production static-files
/src/production-static/
# Project static CSS
/src/static/css/
# Project static JS
/src/static/js/