/*
 Author: Braden Marshall
 Description: Main layout components of the site.
*/
// Config
$base-color-font: basecolor('foreground');
$base-color-background: basecolor('background');

// Main
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
    position: relative;

    height: initial;
    min-height: 100%;

    color: $base-color-font;
    background-color: $base-color-background;
}

body {
    height: 100%;

    scroll-behavior: smooth;
}
