// Colors
$base-colors: (
	"primary": (
		"base": #237fbc,
		"light": #2497e3,
		"dark": #17758e
	),
	"foreground": (
		"base": #ecf0f1,
		"light": #fafafa,
		"dark": #bdc3c7,
		"darker": #434447
	),
	"background": (
		"base": #232426,
		"light": #2a2b2d,
		"lighter": #2d2d32,
		"dark": #1d1f21
	),
	"success": (
		"base": #2ecc71,
		"light": lighten(#2ecc71, 10%),
		"dark": #27ae60
	)
);

// Fonts
@import "https://fonts.googleapis.com/css?family=Raleway:700|Lato";

// Constants
$base-constant-golden: 1.618;
$base-constant-transition: .32s;

// Breakpoints
$base-breakpoint-mobile: 320px;
$base-breakpoint-mobile-lg: 481px;
$base-breakpoint-tablet: 641px;
$base-breakpoint-tablet-lg: 961px;
$base-breakpoint-desktop: 1025px;
$base-breakpoint-desktop-lg: 1367px;
$base-breakpoint-desktop-xlg: 1601px;
