// Colors
$base-colors: (
	"primary": (
		"base": #1abc9c,
		"light": lighten(#1abc9c, 10%),
		"dark": #16a085
	),
	"foreground": (
		"base": #ecf0f1,
		"light": #fafafa,
		"dark": #bdc3c7
	),
	"background": (
		"base": #2b2b2b,
		"light": #2d2d32,
		"lighter": lighten(#2d2d32, 10%),
		"dark": #262626
	),
	"success": (
		"base": #2ecc71,
		"light": lighten(#2ecc71, 10%),
		"dark": #27ae60
	)
);

// Fonts
@import "https://fonts.googleapis.com/css?family=Raleway:700|Lato";

// Constants
$base-constant-golden: 1.618;
$base-constant-transition: .32s;

// Breakpoints
$base-breakpoint-mobile: 320px;
$base-breakpoint-mobile-lg: 481px;
$base-breakpoint-tablet: 641px;
$base-breakpoint-tablet-lg: 961px;
$base-breakpoint-desktop: 1025px;
$base-breakpoint-desktop-lg: 1367px;
$base-breakpoint-desktop-xlg: 1601px;
