/*
 Author: Braden Marshall
 Description: A button with a few neat features.
*/
// Config
$m-button-padding: 12px;

$m-button-color-font: basecolor("primary");
$m-button-color-background: basecolor("background", "light");
$m-button-color-background--hover: basecolor("background", "lighter");
$m-button-color-background--focus: basecolor("background", "lighter");

$m-button__icon-color: basecolor("primary");
$m-button__icon-width: $l-sidebar__buttongroup__button-width - 2*$m-button-padding;
$m-button__icon-height: $m-button__icon-width;
$m-button__icon-font-size: 24px;

$m-button__burgericon-width: $m-button__icon-width;
$m-button__burgericon-height: floor(($m-button__icon-height) / 5);
$m-button__burgericon-gutter: (($m-button__icon-height) - 3*$m-button__burgericon-height) / 2;
$m-button__burgericon-color: $m-button__icon-color;

// Main
.m-button {
	display: inline-block;
	padding: $m-button-padding;

	cursor: pointer;
	text-decoration: none;

	color: $m-button-color-font;
	border: none;
	background-color: $m-button-color-background;

	&:hover {
		background-color: $m-button-color-background--hover;
	}

	&:focus {
		background-color: $m-button-color-background--focus;
	}

	&.m-button--switch {
		> ul {
			padding: 0;

			list-style-type: none;

			text-align: center;

			> li {
				display: none;

				&.m-button--switch__li--active {
					display: block;
				}
			}
		}
	}

	&.m-button--circle {
		border-radius: 50%;
	}

	.m-button__icon {
		width: $m-button__icon-width;
		height: $m-button__icon-height;

		font-size: $m-button__icon-font-size;
		font-weight: bold;
		line-height: $m-button__icon-height;

		user-select: none;
		text-align: center;

		color: $m-button__icon-color;
	}

	.m-button__icon--burger {
		@include burger(
			$m-button__burgericon-width,
			$m-button__burgericon-height,
			$m-button__burgericon-gutter,
			$m-button__burgericon-color
		);
	}

	&.m-button--active .m-button__icon--burger {
		@include burger-to-cross;
	}
}
