/*
 Author: Braden Marshall
 Description: A list containing a group of buttons
*/
// Config
$m-buttongroup__li-margin: 4px;

// Main
.m-buttongroup {
	overflow: hidden;

	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;

	list-style-type: none;

	> li {
		display: inline-block;
		float: left;

		margin-left: $m-buttongroup__li-margin;

		&:first-child {
			margin-left: 0;
		}
	}

	&.m-buttongroup--stretch {
		width: 100%;

		text-align: center;

		> li {
			width: 100%;

			margin-left: 0;

			margin-top: $m-buttongroup__li-margin;

			&:first-child {
				margin-top: 0;
			}

			&:not(.m-button) {
				> .m-button {
					width: 100%;
				}
			}
		}
	}
}
