/*
 Author: Braden Marshall
 Description: A legend detailing the meaning on certain icons.
*/
// Config
$m-legend-padding: 15px;
$m-legend-color-background: rgba(0, 0, 0, .4);
$m-legend-border-radius: 10px;
$m-legend-opacity: .4;
$m-legend-transition-time: .5s;

$m-legend__title-font-size: 18px;
$m-legend__title-margin-bottom: 8px;
$m-legend__title-padding-bottom: 2px;
$m-legend__title-border: 1px solid basecolor("background");

// Main
.m-legend {
    margin-top: 0;
    margin-bottom: 0;
    padding: $m-legend-padding;

    list-style-type: none;

    transition: opacity ease-in $m-legend-transition-time;

    opacity: $m-legend-opacity;
    border-radius: $m-legend-border-radius;
    background-color: $m-legend-color-background;

    > .m-legend__title {
        font-size: $m-legend__title-font-size;

        display: block;

        margin-bottom: $m-legend__title-margin-bottom;
        padding-bottom: $m-legend__title-padding-bottom;

        text-align: center;
        text-transform: uppercase;

        border-bottom: $m-legend__title-border;
    }

    &:hover {
        opacity: 1;
    }
}
