/*
 Author: Braden Marshall
 Description: An area with tabbed content.
*/
// Config

$m-tablist__navlist__li-min-width: 64px;
$m-tablist__navlist__li-padding: 8px;

$m-tablist__navlist__li-color-font: basecolor("foreground", "dark");
$m-tablist__navlist__li-color-font--hover: basecolor("foreground");
$m-tablist__navlist__li-color-font--active: basecolor("foreground");

$m-tablist__navlist__li-color-background: basecolor("background", "light");
$m-tablist__navlist__li-color-background--hover: basecolor("background", "lighter");
$m-tablist__navlist__li-color-background--active: basecolor("background", "lighter");

$m-tablist__navlist__li-border-bottom--active: 2px solid basecolor("primary");

$m-tablist__panelist__li-padding: 12px;

// Main
.m-tablist {
	> .m-tablist__navlist {
		display: flex;
		flex-wrap: wrap;

		margin-bottom: 0;
		padding-left: 0;

		list-style-type: none;

		@include clearfix();

		> li {
			display: inline-block;
			float: left;
			flex-grow: 1;

			min-width: $m-tablist__navlist__li-min-width;
			padding: $m-tablist__navlist__li-padding;

			cursor: pointer;
			text-align: center;

			color: $m-tablist__navlist__li-color-font;
			background-color: $m-tablist__navlist__li-color-background;

			&:hover {
				color: $m-tablist__navlist__li-color-font--hover;
				background-color: $m-tablist__navlist__li-color-background--hover;
			}

			&.m-tablist__navlist--active {
				color: $m-tablist__navlist__li-color-font--active;
				border-bottom: $m-tablist__navlist__li-border-bottom--active;
				background-color: $m-tablist__navlist__li-color-background--active;
			}
		}
	}

	> .m-tablist__panelist {
		margin-top: 0;
		padding-left: 0;

		list-style-type: none;

		> li {
			padding-top: $m-tablist__panelist__li-padding;
			display: none;

			&.m-tablist__panelist--active {
				display: inherit;
			}
		}
	}
}
