/*
 Author: Braden Marshall
 Description: The layout for the grapharea.
*/
// Config
$l-grapharea-color-background: basecolor("background", "dark");
$l-grapharea__legend-margin: 8px;

// Main
#l-grapharea {
    background-color: $l-grapharea-color-background;

    > #l-grapharea__legend {
        position: absolute;
        z-index: 1;
    }

    > #l-grapharea__legend {
        top: $l-grapharea__legend-margin;
        right: $l-grapharea__legend-margin;
    }

    > #l-grapharea__container {
        overflow: hidden;

        width: 100%;
        height: 100%;
    }
}
