/*
 Author: Braden Marshall
 Description: Main layout components of the site.
*/
// Config
$l-site-breakpoint-mobile: $base-breakpoint-mobile;
$l-site-breakpoint-tablet: $base-breakpoint-tablet;
$l-site-breakpoint-desktop: $base-breakpoint-desktop-lg;

// Main
#l-site {
    height: 100%;

    > #l-sidebar, #l-grapharea {
        float: right;

        height: 100%;
    }
}
