/*
 Author: Braden Marshall
 Description: The layout for the sidebar's components
*/
// Config
$l-sidebar-breakpoint-mobile-lg: $base-breakpoint-mobile-lg;
$l-sidebar-breakpoint-tablet: $base-breakpoint-tablet;

$l-sidebar-color-background: basecolor('background');
$l-sidebar-border: 1px solid basecolor('foreground');

$l-sidebar__buttongroup-margin: 8px;
$l-sidebar__buttongroup__button-width: 48px;

$l-sidebar__copyright-margin: 15px;

$l-sidebar-width: $l-sidebar-breakpoint-mobile-lg - $l-sidebar__buttongroup__button-width;

// Main
#l-sidebar {
    background-color: $l-sidebar-color-background;
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, .1);

    position: absolute;
    z-index: 100;
    left: -100%;

    width: 100%;

    transition: left $base-constant-transition ease-out;

    // This class is toggled by a button.
    // When active, the sidebar is made visible to the user.
    &.m-button__target--active {
        left: 0;

        > #l-sidebar__title {
            > #l-sidebar__buttongroup {
                position: initial;

                text-align: center;

                > li {
                    float: none;
                    vertical-align: top;
                }

                @include breakpoint($l-sidebar-breakpoint-mobile-lg) {
                    position: fixed;
                    left: $l-sidebar-width;
                }

                @include breakpoint($l-sidebar-breakpoint-tablet) {
                    left: $l-sidebar__buttongroup-margin + $l-sidebar-width;

                    > li {
                        float: left;
                    }
                }
            }
        }
    }

    > #l-sidebar__title, > #l-sidebar__content, > #l-sidebar__copyright {
        margin: 0 $l-sidebar__copyright-margin;
    }

    > #l-sidebar__title {
        border-bottom: $l-sidebar-border;

        > h1 {
            margin-bottom: 0;

            text-align: center;
        }

        > #l-sidebar__buttongroup {
            margin: 5px 0;

            position: fixed;
            z-index: 1;
            top: $l-sidebar__buttongroup-margin;
            left: $l-sidebar__buttongroup-margin;

            transition: left $base-constant-transition ease-out;
        }
    }

    > #l-sidebar__copyright {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        max-width: 100%;

        border-top: $l-sidebar-border;
    }

    @include breakpoint($l-sidebar-breakpoint-mobile-lg) {
        left: -$l-sidebar-width;
        max-width: $l-sidebar-width;
    }
}
