/*
 Author: Braden Marshall
 Description: The layout for the sidebar's components
*/
// Config
$l-sidebar-breakpoint-mobile-lg: $base-breakpoint-mobile-lg;
$l-sidebar-breakpoint-tablet: $base-breakpoint-tablet;

$l-sidebar-margin: 16px;
$l-sidebar-color-background: basecolor("background");
$l-sidebar-border: 1px solid basecolor("foreground");

$l-sidebar__header-font-family: "Raleway", sans-serif;
$l-sidebar__header-font-size: 22pt;

$l-sidebar__buttongroup-margin: 8px;
$l-sidebar__buttongroup__button-width: 48px;

$l-sidebar-width: $l-sidebar-breakpoint-mobile-lg - $l-sidebar__buttongroup__button-width;

// Main
#l-sidebar {
	position: absolute;
	z-index: 100;
	left: -100%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	width: 100%;

	transition: left $base-constant-transition ease-out;

	background-color: $l-sidebar-color-background;
	box-shadow: 5px 0 5px 0 rgba(0, 0, 0, .1);

	@include breakpoint($l-sidebar-breakpoint-mobile-lg) {
		left: -$l-sidebar-width;

		max-width: $l-sidebar-width;
	}

	// This class is toggled by a button.
	// When active, the sidebar is made visible to the user.
	&.m-button__target--active {
		left: 0;

		> header {
			> h1 {
				margin-bottom: 0;

				@include breakpoint($l-sidebar-breakpoint-mobile-lg) {
					margin-bottom: $l-sidebar-margin;
				}
			}

			> #l-sidebar__buttongroup {
				position: initial;

				text-align: center;

				@include breakpoint($l-sidebar-width) {
					position: fixed;
					left: $l-sidebar-width;

					margin-top: $l-sidebar__buttongroup-margin;
				}

				@include breakpoint($l-sidebar-width + 2*$l-sidebar__buttongroup__button-width + $l-sidebar__buttongroup-margin) {
					margin-left: $l-sidebar__buttongroup-margin;
					margin-right: $l-sidebar__buttongroup-margin;

					> li {
						float: left;
					}
				}

				> li {
					float: none;

					vertical-align: top;
				}
			}
		}
	}

	> header, > main, > footer {
		margin: 0 $l-sidebar-margin;
	}

	> header, > footer {
		flex-shrink: 0;
	}

	> main {
		overflow: hidden;
		flex-grow: 1;
	}

	> header {
		border-bottom: $l-sidebar-border;

		> h1 {
			font-size: $l-sidebar__header-font-size;
			font-family: $l-sidebar__header-font-family;

			margin: $l-sidebar-margin 0;

			text-align: center;
		}


		> #l-sidebar__buttongroup {
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;

			margin-top: $l-sidebar__buttongroup-margin;
			margin-left: $l-sidebar__buttongroup-margin;

			transition: left $base-constant-transition ease-out;
		}
	}

	> main {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		> .m-tablist__navlist {
			flex-shrink: 0;
		}

		> .m-tablist__panelist {
			overflow: auto;

			flex-grow: 1;
		}
	}

	> footer {
		max-width: 100%;

		border-top: $l-sidebar-border;
	}
}
